
<h1 id='welcome'>The capital cities quiz</h1>
<h1>Welcome...</h1>
<p class='homepara'>Welcome to The Capital Cities Quiz.  This quiz will test your ability to identify the correct capital city, whether by knowledge or deduction.  Skilled players will find that this quiz quickly becomes difficult as they progress through the levels.  Every recognised state is represented in the quiz database, meaning any state in the world could be posed to you as a question.  If you're ready, feel free to begin.  More detailed instructions will be given before the start of the quiz.
<%= link_to "Start the quiz", logcheck_path, class: "btn btn-default", id: 'home-btn' %>
<small>Next Update: 19/07/2015</small>

