<h1> Select Leaderboard </h1>
<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<%= link_to leaderboard_path, class: 'hover-one' do %>
			<div>
			<h1 class='homepage-title'>The capital cities quiz</h1>
		</div>
		<%end%>
		</div>
		<div class="col-xs-6">
			<%= link_to leaderboard_timezones_path, class: 'hover-one' do %>
			<div>
			<h1 class='homepage-title'><span id="reducedtitle">The capital cities quiz</span><br><span id="redtitle">Timezones</span></h1>
		</div>
		<%end%>
		</div>
	</div>
</div>