<div>
	<h1>Wait!</h1>
		<p>You are not logged in.  If you wish to save your score to the timezones leaderboard then please <%= link_to "Log In", login_path %>.<br>  If you are not registered, <%= link_to "Sign up here", signup_path %>.<br>  If you do not wish to save your scores please continue.</p>
		
		<%= link_to "Continue", quiz_timezones_path, class: 'btn btn-default', id: 'home-btn' %>
		
</div>