		<h1 id="quiz-title">Before you begin...</h1>
		<div id="intro">
			<p>This quiz is designed to test your ability to match a country with the correct capital city.  Each question will provide you a with the name of a country and four capital city options, three incorrect and one correct.  You must attempt to pick the correct option as quickly as possible.  Your score for each question is based firstly on whether or not you answer correctly and secodly on the speed with which you answer.  As you answer questions correctly you will progress through levels which have increasing difficulty.<br>
			<br>
			Good Luck.<p>

			<input type="button" id="loadButton" value="Begin the quiz" onclick="beginQuiz()">
		</div>

		<div id="quiz-box">
			<div id="quiz">
				<p class="quizlines"><span id="result"></span></p>
				<p class="quizlines">Which of these is the capital city of <span id="capital"></span>?</p>
				<p class="quizlines">Question Score:<span id="potential"></span></p>
				<p class="quizlines">Level:<span id="level"></span></p>
				
				<input class="buttonNorm" type="button" id="buttonOne" value="" onclick="clickButOne()">
				<input class="buttonNorm" type="button" id="buttonTwo" value="" onclick="clickButTwo()">
				<input class="buttonNorm" type="button" id="buttonThree" value="" onclick="clickButThree()">
				<input class="buttonNorm" type="button" id="buttonFour" value="" onclick="clickButFour()">
		
			<p class="quizlines">Attempts:<span id= "attempts"></span></p>
			<p class="quizlines">Correct:<span id= "correct"></span></p>
			<p class="quizlines">Current Score:<span id="score"></span></p>
			<p id="endMes"><span id="endMessage"></span></p>
		</div>
	</div>


