<% if @user.errors.any? %>
	<div id="errors">
		The registration form contains <%= pluralize(@user.errors.count, "error") %>.
		<ul id="error_list">
			<% @user.errors.full_messages.each do |msg|%>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
		<% end%>
		