
<footer>
	<small> &#169<span id="year"></span> thecapitalsquiz.com </small>
	<script type="text/javascript">
var d = new Date();
$("#year").html(d.getFullYear());
</script>
<nav>
	<ul>
		<li><%= link_to "Contact", contact_path %> </li>
<footer>